@font-face {
    font-family: "app";
    src: url("../statics/fonts/nunito-v9-latin-regular.eot");
    src: 
    url("../statics/fonts/nunito-v9-latin-regular.woff") format("woff"),
    url("../statics/fonts/nunito-v9-latin-regular.svg#filename") format("svg");
}
@font-face {
    font-family: "logo";
    src: url("../statics/fonts/staravenue.ttf");
}

.smooth-shadow{
    -webkit-box-shadow: 2px 0px 8px -1px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 0px 8px -1px rgba(0,0,0,0.10);
    box-shadow: 2px 0px 8px -1px rgba(0,0,0,0.10);
}

* {
    font-family: 'app'
}

.logo{
    font-family: 'logo';
    font-size: 20pt
}
// app global css
